.img-acc{
    height: 50vh;
    display: flex;
    width: 800px;
    margin: 0;
    zoom: 0.8;
}
#wrapper3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 60px;
    padding: 102px 90px;
    margin: 0;
    z-index: 1;
    background: linear-gradient(45deg,#f8f9d2cc, #e7d9fc33);
}
.imgtext{
    font-size: 3.5rem;
    font-weight: 300;
    margin: 20px 0 0;
    text-align: left;

}
.image{
    flex: 1;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 2px;
    transition: all 0.3s;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    border: 0px solid #222;
    position: relative;
}
.image1{background-image: url("./IMG/image(1).jpg");}
.image2{background-image: url("./IMG/image(2).jpg");}
.image3{background-image: url("./IMG/image(3).jpg");}
.image4{background-image: url("./IMG/image(4).jpg");}
.image5{background-image: url("./IMG/image(5).jpg");}
.image6{background-image: url("./IMG/image(6).jpg");}

.image p{
    position: absolute;border-radius: 15px;
    bottom: -40px;left: 0;
    padding: 10px;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
    transition: all 0.3s;
    text-transform: uppercase;
    font-family: 'Montserrat',sans-serif;
    white-space: nowrap;
}

.image:hover{flex:10.5;}
.image:hover p{
    background-color: #00000099;
    color: #fff;
    transform: rotate(0deg);
}

@media only screen and (max-width: 1480px){
    #wrapper3{
        grid-template-columns: repeat(2,1fr);
        padding: 60px 30px 60px 30px;
        margin: 0 0 0 0;
        overflow: hidden;
    }
    .image:focus{flex:10.5;}
    .img-acc{
        height: 60vh;
        width: 130%;
        scale: 0.8;
        margin: 0px 0px 0 0px;
    }
    .img-content{
        margin: 20px 0px 0px 90px;
    }
    .music{
        scale:1.2;
    }
    
}
@media only screen and (max-width:1180px){
    #wrapper3{
        grid-template-columns: repeat(2,1fr);
        zoom:90%;
    }
    .image:focus{flex:8;}
        .img-content{
        margin: 20px 0px 0px 80px;
        }
    .img-acc{
         height: 55vh;
         width: 125%;
    }
    
}@media only screen and (max-width:1080px){
    #wrapper3{
        grid-template-columns: repeat(2,1fr);
        zoom:80%;
    }
    .image:focus{flex:8;}
    .img-acc{
        height: 75vh;
        width: 125%;
    }
    .img-content{
        margin: 25px 0px 0px 90px;
    }
    .music{
        scale:1.2;
    }
}
@media only screen and (max-width:980px){
    #wrapper3{
       display: grid;
       flex-direction: column-reverse;
       gap: 30px;
    }
    .image:focus{flex:8;}
    .img-acc{
        height: 50vh;
        width: 115%;
        scale: 0.9;
    }
    .img-content{
        margin: -10px 0px 0px 95px;
    }
    .music{
        scale:1.2;
    }
}
@media only screen and (max-width:880px){
    #wrapper3{
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }
    .image:focus{flex:8;}
        .img-content{
        padding: 0px 0px 0px 45px;
        }
    
    .img-acc{
        height: 70vh;
        width: 100%;
        margin: 0;
    }
    .music{
        scale:1.5;
    }
    
}
@media only screen and (max-width:780px){
    #wrapper3{
        grid-template-columns: repeat(1,1fr);
    
    }
    .image:focus{flex:7;}
    .img-acc{
        height: 60vh;
        width: 100%;
        margin: 0;
    }
        .img-content{
        padding: 0px 45px;
    }
    .music{
        scale:1.5;
    }
}
@media only screen and (max-width:680px){
    #wrapper3{ 
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }
    .image:focus{flex:7}

    .img-acc{
        display: flex;
        flex-direction: column;
        height: 65em;
        width: 100%;
        margin: 0;
    }
    .image{
        margin-top:1px;
        display: flex; 
    }
        .img-content{
        padding: 0px 0px 0px 30px;
        margin: 0;
        }
    
    .image p{
        bottom: 0px;
        transform: rotate(0deg);
    }
.image:hover p{
    background-color: #00000099;
    color: #fff;
    transform: rotate(-90deg);
              }
    .music{
        scale:1.5;
    }
}  

@media only screen and (max-width:480px){
    #wrapper3{
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }
    .image:focus{flex:3}

    .img-acc{
        display: flex;
        flex-direction: column;
        height: 45em;
        width: 100%;
        margin: 0;
    }
     .img-content{
    margin: 0;
    }
    
    .image{
        margin-top:1px;
        display: flex;
        
    }
    .image p{
        bottom: 0px;
        transform: rotate(0deg);
        height:2.5em;

    }
.image:hover p{
    background-color: #00000099;
    color: #fff;
    transform: rotate(-90deg);
              }
    .music{
        scale:1.12;
    }
} 
@media only screen and (max-width:380px){
    #wrapper3{
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
        padding: 60px 0px 0 0;
        margin: 0;
        zoom: 0.5;
    }
    .image:focus{flex:3}

    .img-acc{
        display: flex;
        flex-direction: column;
        height: 65em;
        width: 100%;
        scale: 0.75;
    }
    .img-content{
    margin: 0px 0 -60px 65px;
    }
    .image{
        margin-top:1px;
        display: flex;
        
    }
    .image p{
        bottom: 0px;
        transform: rotate(0deg);
        height:2em;

    }
.image:hover p{
    background-color: #00000099;
    color: #fff;
    transform: rotate(-90deg);
              }
    .music{
        scale:1.6;
    }
} 

@media only screen and (max-width:330px){
.music{
        scale:1.4;
    }
}
@media only screen and (max-width:280px){
.music{
        scale:1.0;
    }
}
