
*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
header{
    background-color: #0a0f2de6;
    position: fixed;
    width: 100%;
    z-index: 100000;
}
li{
     List-style: none;
}

a{
     color: white;
     font-size: 20px;
     text-decoration: none;
}

.navbar{
     min-height: 70px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding:0 24px;
}
.nav-menu{
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 60px;
}

.nav-branding{
font-size: 2rem;
}
#logo{
    height: 50px;
    width: 50px;
    margin: 0px 0px -15px 0px;
}
.nav-link{transition: 0.8s ease;background: linear-gradient(230deg,#f8f9d247, #e7d9fc00);border-radius: 15px;padding: 2px 8px;}
.nav-link:hover{
color: #00020af0;
background: linear-gradient(230deg, #e7d9fc00,#f8f9d2a8);
}

.hamburger{
display: none;
cursor: pointer;
}

.bar{
   display: block;
   width: 30px;
   height: 4px;
   margin: 5px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out; 
   background-color:white;
   border-radius:2px;
}

@media(max-width:750px){
.hamburger{
      display: block;
      }
.hamburger.active .bar:nth-child(2){
      opacity: 0;
      }
.hamburger.active .bar:nth-child(1){
      transform: translateY(9px) rotate(45deg);
      }
.hamburger.active .bar:nth-child(3){
       transform: translateY(-9px) rotate(-45deg);
       }
.nav-menu{
       position:
       fixed;
       Left: -100%;
       top: 70px;
       gap: 0;
       flex-direction: column;
       background-color: #0a0f2de6;
       width: 100%;
       text-align: center;
       transition: 0.3s;
       }    
}

.nav-item{
        margin: 16px 0;
         }
.nav-menu.active{
          Left: 0;
          }  

