#wrapper1 {
    background-color: #0079d9;
    padding: 40px 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    font-family: sans-serif;
}
#wrapper2{
    background-color: #ffffffe1;
    padding: 40px 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    font-family: sans-serif;
}
#wrapper1 .Resp-grid1 {
    display: flex;
    padding: 65px 25px;
    flex-direction: column;
    justify-content: space-around;
}
#wrapper1 .Resp-grid2 {
    background-color: #ffffffe1;
    border-radius: 40px;
    display: flex;
    padding: 15px;
    flex-direction: column;
    justify-content: space-around;
}
.Dtext{
    font-size: 4.125rem;
    font-weight: 300;
    margin: 20px 0 0;
    text-align: right;
}
.readmore{
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 1px 35px;
    color: #ffffff !important;
    background-color: #1f2125f0;
    width: 15em;
    padding: 15px 1px;
    height: 3em;
    border-radius: 25px;
    text-decoration: none;
}
#wrapper2 .Resp-grid1 {
    display: flex;
    padding: 65px 25px;
    flex-direction: column;
    justify-content: space-around;
}
#wrapper2 .Resp-grid2 {
    background-color: transparent;
    border-radius: 0px;
    display: flex;
    padding: 15px;
    flex-direction: column;
    justify-content: space-around;
}
#cv{
    
    max-width: 350px;
    border-radius: 10px;
    position: relative;
    box-shadow:5px 10px 18px rgba(0, 0, 0, 0.250);
}
#cv:hover{
   transform: scale(1.02);filter: grayscale(100%);
   filter: drop-shadow(8px 8px 10px gray);
}
   
button{margin-top: 10px;
    background-color: #1f2125f0;
    color:#ffffff;
    height: 30px;
    max-width: 55%;
    border: none;
    border-radius: 20px;
    padding: 2px 15px;
}
button:hover{
    background-color: rgb(83 139 255);
    color: white;
    border-radius: 20px;
    box-shadow:5px 10px 18px #527dff;
}
.content1{
    opacity: 0.977376;
    left: 18.0995px;
    margin: 10px 10px;
}

@media only screen and (max-width:1280px){
    #wrapper1 ,#wrapper2{
        grid-template-columns: repeat(2,1fr);

    }
    #cv{
        max-width: 430px;
    }
    #wrapper1 .Resp-grid1 {
        padding: 65px 25px;
    }
    #wrapper1 .Resp-grid2 {
        border-radius: 40px;
    }
    #wrapper2 .Resp-grid1 {
        padding: 65px 25px;
    }
    #wrapper2 .Resp-grid2 {
        border-radius: 40px;
    }
}
@media only screen and (max-width:1180px){
    #wrapper1 ,#wrapper2 {
        grid-template-columns: repeat(2,1fr);
    }
    #cv{
        max-width: 400px;
    }
    #wrapper1 .Resp-grid1 {
        padding: 65px 25px;
        font-size: 1em;
    }
    #wrapper1 .Resp-grid2 {
        border-radius: 35px;
    }
    #wrapper2 .Resp-grid1 {
        padding: 65px 25px;
        font-size: 1em;
    }
    #wrapper2 .Resp-grid2 {
        border-radius: 35px;
    }
}
@media only screen and (max-width:1080px){
    #wrapper1 ,#wrapper2 {
        grid-template-columns: repeat(2,1fr);
       
    }
    #cv{
        max-width: 360px;
    }
    #wrapper1 .Resp-grid1 {
        padding: 65px 25px;
        font-size: 0.9em;
    }
    #wrapper1 .Resp-grid2 {
        border-radius: 35px;
    }
    #wrapper2 .Resp-grid1 {
        padding: 65px 25px;
        font-size: 0.9em;
    }
    #wrapper2 .Resp-grid2 {
        border-radius: 35px;
    }
}
@media only screen and (max-width:980px){
    #wrapper1 ,#wrapper2 {
        grid-template-columns: repeat(2,1fr);
       
    }
    #cv{
        max-width: 320px;
    }
    #wrapper1 .Resp-grid1 {
        padding: 65px 25px;
        font-size: 0.85em;
    }
    #wrapper1 .Resp-grid2 {
        border-radius: 40px;
    }
    #wrapper2 .Resp-grid1 {
        padding: 65px 25px;
        font-size: 0.85em;
    }
    #wrapper2 .Resp-grid2 {
        border-radius: 40px;
    }
}

@media only screen and (max-width:880px){
    #wrapper1 ,#wrapper2 {
        grid-template-columns: repeat(2,1fr);
       
    }
    #cv{
        max-width: 290px;
    }
    #wrapper1 .Resp-grid1 {
        padding: 65px 25px;
        font-size: 0.8em;
    }
    #wrapper1 .Resp-grid2 {
        border-radius: 35px;
    }
    #wrapper2 .Resp-grid1 {
        padding: 65px 25px;
        font-size: 0.8em;
    }
    #wrapper2 .Resp-grid2 {
        border-radius: 35px;
    }
}
@media only screen and (max-width:780px){
    #wrapper1 ,#wrapper2 {
        grid-template-columns: repeat(1,1fr);
      
    }
    #cv{
        max-width: 485px;
    }
    #wrapper1 .Resp-grid1 {
        padding: 35px 25px;
        font-size: 0.8em;
    }
    #wrapper1 .Resp-grid2 {
        border-radius: 30px;
    }
    #wrapper2 .Resp-grid1 {
        padding: 35px 25px;
        font-size: 0.8em;
    }
    #wrapper2 .Resp-grid2 {
        border-radius: 30px;
    }
}
@media only screen and (max-width:680px){
    #wrapper1 ,#wrapper2 {
        grid-template-columns: repeat(1,1fr);
     
    }
    #cv{
        max-width: 425px;
    }
    #wrapper1 .Resp-grid1 {
        padding: 35px 25px;
        font-size: 0.8em;
    }
    #wrapper1 .Resp-grid2 {
        border-radius: 30px;
    }
    #wrapper2 .Resp-grid1 {
        padding: 35px 25px;
        font-size: 0.8em;
    }
    #wrapper2 .Resp-grid2 {
        border-radius: 30px;
    }
}
@media only screen and (max-width:580px){
    #wrapper1 ,#wrapper2 {
        grid-template-columns: repeat(1,1fr);
      
        padding: 20px 20px;
    }
    #cv{
        max-width: 325px;
    }
    #wrapper1 .Resp-grid1 {
        padding: 25px 25px;
        font-size: 0.8em;
    }
    #wrapper1 .Resp-grid2 {
        border-radius: 30px;
    }
    #wrapper2 .Resp-grid1 {
        padding: 25px 25px;
        font-size: 0.8em;
    }
    #wrapper2 .Resp-grid2 {
        border-radius: 30px;
    }
}
@media only screen and (max-width:480px){
    #wrapper1 ,#wrapper2 {
        grid-template-columns: repeat(1,1fr);
        zoom: 0.9;
        padding: 20px 20px;
    }
    #cv{
        max-width: 245px;
    }
    #wrapper1 .Resp-grid1 {
        padding: 20px 20px;
        font-size: 0.65em;
    }
    #wrapper1 .Resp-grid2 {
        border-radius: 25px;
    }
    #wrapper2 .Resp-grid1 {
        padding: 20px 15px;
        font-size: 0.65em;
    }
    #wrapper2 .Resp-grid2 {
        border-radius: 25px;
    }
    button{transform: scale(0.9);
            height: 30px;
            max-width: 85%;
    }
     .readmore {
    padding:15px 1px;
    }

}
@media only screen and (max-width:380px){
    #wrapper1 ,#wrapper2 {
        grid-template-columns: repeat(1,1fr);
        zoom: 0.8;
        padding: 15px 15px;
    }
    #cv{
        max-width: 245px;
    }
    #wrapper1 .Resp-grid1 {
        padding: 15px 30px;
        font-size: 0.65em;
    }
    #wrapper1 .Resp-grid2 {
        border-radius: 25px;
    }
    #wrapper2 .Resp-grid1 {
        padding: 15px 15px;
        font-size: 0.55em;
    }
    #wrapper2 .Resp-grid2 {
        border-radius: 25px;
    }
    button{transform: scale(0.9);
            max-width: 100%;
    }

    .readmore {
    padding:15px 1px;
    }
}
@media only screen and (max-width:280px){
    #wrapper1 ,#wrapper2 {
        grid-template-columns: repeat(1,1fr);
        zoom: 0.65;
        padding: 10px 10px;
    }
    #cv{
        max-width: 170px;
    }
    #wrapper1 .Resp-grid1 {
        padding: 15px 15px;
        font-size: 0.5em;
    }
    #wrapper1 .Resp-grid2 {
        border-radius: 25px;
    }
    #wrapper2 .Resp-grid1 {
        padding: 15px 15px;
        font-size: 0.5em;
    }
    #wrapper2 .Resp-grid2 {
        border-radius: 25px;
    }
    button{transform: scale(0.8);
            max-width: 100%;
    }
     .readmore {
    padding:15px 1px;
    }
}
